{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
   <a href="{% url 'new_post' %}">Новая публикация</a>
{% endif %}
    {% include "includes/paginator.html" %}
    {% for post in page %}
        <h3>
            Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
        </h3>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}

{% endblock %} 